* {
  box-sizing: border-box;
  font-size: initial;
  font-weight: initial;

  background: none;
  border: none;

  appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

  text-decoration: none;

  margin: 0;
  padding: 0;

  list-style: none;
}

input, textarea {
  border: 1px solid #ccc;
  padding: 0.1em 0.3em;

  background-color: #fff;
}

body {
  font-family: Noto Sans JP, sans-serif;
}

button {
  padding: 0.5em 1.25em;
  border: 2px solid #111;

  border-radius: 2px;

  transition: 0.1s all;
}
button:hover {
  color: initial;

  background-color: #eee;
}

h2 {
  font-size: 2em;
  font-weight: 600;
}

h3 {
  font-size: 1.25em;
  font-weight: 600;
}

h4 {
  font-size: 1.15em;
  font-weight: 600;
}

section {
  display: grid;
  gap: 1em;

  padding: 1.5em 1.5em;
  background-color: #f7f7f7;

  border-radius: 2px;
}

hr {
  border-bottom: 3px solid #ddd;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #57483e;
  padding: 1rem 2rem;

  color: #ffffff;
}

.header__logo {
  display: flex;
  gap: 1em;
  align-items: center;

  color: white;
}

.header__logo__brand_link {
  color: white;
}

.header__logo__brand_name {
  font-size: 2.5em;
  font-weight: 600;
}

.header__logo__brand_catchcopy {
  display: flex;
  flex-direction: column;
}

.header__new_post {
  border-color: #ffffff;
  color: #ffffff;
}

.main_content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 4em 4em;
}

.component__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 1em;
}

.component__form__input {
  display: grid;
  grid-gap: 0.2em;

  width: 10em;
}

.component__form__hidden {
  display: none;
}
