.page_content {
  display: grid;

  gap: 3em;
}

@media screen and (min-width: 1280px) {
  .page_content {
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;

    width: 80%;
    margin: 0 auto;
  }
}

.new_post_section__title {
  font-size: 1.5em;
  font-weight: 600;
}

.new_post_section__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 1em;
}

.new_post_section__form__input {
  display: grid;
  grid-gap: 0.2em;

  width: 10em;
}

.new_post_section__form__textarea {
  width: 20em;
  height: 10em;
}

.recent_post_section__list {
  display: flex;
  flex-direction: column;

  gap: 0.2em;
}



.post_list_element {
  display: flex;
  flex-direction: column;

  background-color: #f0f0f0;

  padding: 0.5em 1em;
}

.post_list_element__title {
  font-weight: 600;
}

.post_list_element__author {
  font-size: 0.9em;
  color: #555;
}
