.new_post_section {
  display: grid;
  gap: 1em;

  padding: 0.3em 1em;
  border-left: 2px solid #ddd;
}

.new_post_section__title {
  font-size: 1.5em;
  font-weight: 600;
}

.new_post_section__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 1em;
}

.new_post_section__form__input {
  display: grid;
  grid-gap: 0.2em;

  width: 10em;
}

.new_post_section__form__textarea {
  width: 20em;
  height: 10em;
}
